*
  box-sizing: border-box

html
  font-size: 16px
  font-family: 'Roboto', sans-serif
  line-height: 1.5
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

html
body
  height: 100%

html
body
h1
h2
h3
h4
h5
h6
span
a
p
ul
li
nav
header
footer
  margin: 0
  padding: 0

nav
header
footer
  display: block

a
  -webkit-text-decoration-skip: objects

button
  overflow: visible
  text-transform: none